/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06092e;
    --bg-image: url(../images/cover-image-dark.png);

    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;

    --title-decor-bg-color: #FF0070;
    --title-decor-text-color: #000000;

    --content-section-title-color: #FF0070;
    --theme-menu-button-color: #FF0070;

    --link-color: #F1B2CE;
  }
}

:root.theme-dark {
  --bg-color: #06092e;
  --bg-image: url(../images/cover-image-dark.png);

  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;

  --title-decor-bg-color: #FF0070;
  --title-decor-text-color: #000000;

  --content-section-title-color: #FF0070;
  --theme-menu-button-color: #FF0070;

  --link-color: #F1B2CE;
}

:root.theme-dark .header__rec-decor {
  display: flex;
}