/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f0;
    --bg-image: url(../images/cover-image-light.png);

    --text-color: #000000;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;

    --title-decor-bg-color: #FF8DCB;
    --title-decor-text-color: #000000;

    --content-section-title-color: #000000;
    --theme-menu-button-color: #000000;

    --link-color: #000000;
  }

  /* REC скрыт в светлой теме */
  .header__rec-decor {
    display: none;
  }
}

:root.theme-light {
  --bg-color: #f5f5f0;
  --bg-image: url(../images/cover-image-light.png);

  --text-color: #000000;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;

  --title-decor-bg-color: #FF8DCB;
  --title-decor-text-color: #000000;

  --content-section-title-color: #000000;
  --theme-menu-button-color: #000000;

  --link-color: #000000;
}

:root.theme-light .header__rec-decor {
  display: none;
}